.layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29b198e2;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.icon {
  font-size: 6em;
  font-weight: 900;
}

.layer:hover {
  opacity: 1;
}
.imgLayer {
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29b19885;
  z-index: 99999;
}
